<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<!-- Remove WebDAV module which blocks PUT/DELETE/POST -->
			<modules runAllManagedModulesForAllRequests="false">
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<!-- Remove WebDAV handler -->
				<remove name="WebDAV" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Pickleball.Community.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				</environmentVariables>
			</aspNetCore>
			<!-- Ensure all HTTP verbs are allowed -->
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="104857600" />
					<!-- 100MB -->

					<verbs allowUnlisted="true">
						<add verb="GET" allowed="true" />
						<add verb="POST" allowed="true" />
						<add verb="PUT" allowed="true" />
						<add verb="DELETE" allowed="true" />
						<add verb="PATCH" allowed="true" />
						<add verb="OPTIONS" allowed="true" />
						<add verb="HEAD" allowed="true" />
					</verbs>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
